*{
   box-sizing: border-box;
}
.CategoryProductCard{
    width: 200px; 
    height: 230px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
 }
 .categoryProductCardHeading:hover{
   cursor: pointer;
 }
 .CategoryProductCard:hover{
    box-shadow:0px 0px 2px black;
 }
 .category-Product-img{
    height: 150px;
    width: 20vh;
 }
 .paymentCard{
   height: 190px;
   width: 350px;
   background-color: white;
}
.paymentCard>img{
   width: 300px;
   height: 120px;
   /* border: 1px solid black; */
}
.about-img1-bg-color {
   width: 100%;
   position: absolute;
   background: rgba(0, 0, 0, 0.5);
   border-radius: 10px;
   height: 450px;
   padding-top: 180px;
 }
 #aboutus-bg-img2{
   height: 450px;
   border-radius: 10px;
   background-image: url("../assest/Images/aboutus.jpg");
   background-size: 100% 100%;
   background-position: center;
   background-repeat: no-repeat;
}
 .team:hover{
   box-shadow:0px 0px 7px black;
   transition: 0.6s;
   border: 1px solid white;
   transform: scale(1.2);
  }
  
  .footer-img{
   height: 200px;
   width: 200px;
   margin: 20px;
   margin-top: 30px;
   margin-left: 50px;
   border: 1px solid white;
}
footer{
  background-color: rgb(15, 141, 232);
}
.footer-img:hover{
    box-shadow: 0px 0px 5px white;
    transform: scale(1.1);
}
@media screen and (max-width: 600px){
   #AboutParagraph{
      width:100%;
     }
     #AboutParagraph>p{
      font-size: 15px;
     }
     .contactus-heading{
      text-align: start;
       margin-left: 100px;
     }
     .hr-line{
      width: 50%;
       margin-left: 60px; 
       color: black;
   }
}
@media screen and (min-width: 800px){
  #AboutParagraph{
   width:75%;
  }
  #AboutParagraph>p{
   font-size: 17px;
  }
  .contactus-heading{
   text-align: start;
    margin-left: 150px;
  }
  .hr-line{
   width: 60%;
    margin-left: 60px; 
    color: black;
}
} 
@media screen and (min-width: 1000px){
   #AboutParagraph{
    width:50%;
   }
   #AboutParagraph>p{
    font-size: 19px;
   }
   .contactus-heading{
      text-align: start;
       margin-left: 500px;
     }
   .hr-line{
      width: 800px;
       margin-left: 170px; 
       color: black;
   }
 } 